# Ignore all encrypted files and dirs if installSecrets is false
{{- $installSecrets := false -}}
{{- if hasKey . "installSecrets" -}}
  {{- $installSecrets = .installSecrets -}}
{{- end -}}

{{- if not $installSecrets }}
**/*.age
encrypted_*
.local/share/secrets
{{- end }}

README.md
key.txt
