{{- $installSecrets := false -}}
{{- if stdinIsATTY -}}
{{-   $installSecrets = promptBoolOnce . "installSecrets" "Do you want to decrypt SSH keys/secrets (y/n) ?" -}}
{{- end -}}

[data]
    installSecrets = {{ $installSecrets }}

{{ if $installSecrets -}}
encryption = "age"
[age]
    identity = {{ joinPath .chezmoi.homeDir ".local/share/secrets/key.txt" | quote }}
    recipient = "age17vcm8j4sl7fh3z0rrpjl95hymje0qccd08ehau4t9ef4382qg4yqjnm358"
{{- end }}
