@import "../../.cache/wal/colors-waybar.css";

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 14px;
  color: @color4;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

window#waybar {
    /* Adjust '0.5s' to make the fade faster or slower */
    animation: fadeIn 0.5s ease-in-out;
    background-color: alpha(@background, 0.85);
}

#window label {
  color: @foreground;
  font-weight: bold;
  margin-left: 8px;
  margin-right: 8px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.active {
  opacity: 0.5;
  border-bottom: 2px solid @color2; 
}

#workspaces button.empty {
  opacity: 0.5;
}

#battery,
#pulseaudio,
#custom-omarchy,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 18px;
}

#custom-notification-silencing-indicator {
  margin-left: 5px;
  font-size: 15px;
  padding: 5px 0px
}

#custom-notification-silencing-indicator.active {
  margin-left: 5px;
  margin-right: 10px;
}


tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  color: @color2;
  margin-left: 8.75px;
  background-color: transparent;
  padding: 0 10px;
}

#custom-logout {
  margin-right: 10px;
  margin-left: 5px;
}

.hidden {
  opacity: 0;
}

#custom-notification-silencing-indicator.active,
#custom-voxtype.recording {
  color: @color2;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 7.5px;
}
